.modal-header {
    padding: 4px 0px;
    height: 37px;
}

.modal-header .header-close-icon {
    float: right;
    padding-right: 5px;
}

.modal-header .header-text {
    vertical-align: super;
}

.modal .modal-content {
    padding: 20px 10px;
}

.btn-ok {
    margin-right: 8px !important;
}

.prompt-msg {
    padding-left: 15px;
    font-size: 17px;
}

.modal input[type='text'] {
    border: 1px solid #26a69a;
    margin: 0px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border: 2px solid #26a69a;
    box-shadow: none;
}