#divMatDialog .modal-header {
    padding: 4px 0px;
    height: 37px;
}

#divMatDialog .modal-header .header-close-icon {
    float: right;
    padding-right: 5px;
}

#divMatDialog .modal-header .header-text {
    vertical-align: super;
}

#divMatDialog .modal .modal-content {
    padding: 20px 10px;
}

#divMatDialog .modal .modal-content .margin-top-5px {
    margin-top: 5px;
}

#divMatDialog .modal .btn-ok {
    margin-right: 8px !important;
}

#divMatDialog .modal .prompt-msg {
    padding-left: 15px;
    font-size: 17px;
}

#divMatDialog .modal input:not([type]),
input[type='text'],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea,
textarea.materialize-textarea,
select {
    border: 1px solid #26a69a;
    margin: 0px;
}

#divMatDialog .modal input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border: 2px solid #26a69a;
    box-shadow: none;
}