nav {
    background-color: #348d89;
}

nav .brand-logo {
    margin-top: 110px;
    text-align: center;
    width: 100%;
}

.brand-logo .logo {
    font-size: 45px;
    font-family: monospace;
}

.nav-content {
    padding-top: 180px;
}

.btn {
    background-color: #0c79ad;
}

.nav .brand-logo i,
nav .brand-logo [class^="mdi-"],
nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
    margin-right: 0px;
}

.seperator {
    padding: 0px 2px;
}

.Content {
    /*font-size: 20px;*/
    margin-top: 25px;
}

h6 {
    font-size: 20px;
}

.pre {
    /*background-color: #99d8d2;*/
    padding: 10px;
    font-size: 13px;
    background-color: #e8e8ef;
    border: 1px solid #bebecb;
    border-radius: 3px;
    text-align: center;
}

.tableCode tr td:first-child {
    width: 70%;
}

.pre span {
    margin: 0 auto;
    display: inline-block;
}

line {
    margin-bottom: 4px;
    display: block;
    text-align: left;
}
